@{ 
    ViewBag.Title = "RAVE - Login";
}

@model  string
<!DOCTYPE HTML>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/styles.css">
    <link rel="stylesheet" href="~/Content/slider.css">
    <script src="~/Scripts/javascript.js"></script>
    <script src="~/Scripts/slider.js"></script>
    <style>
        body {
            margin: 0 auto;
            background: black;
        }
    </style>
</head>
<body>

    <div id="album-art-bg"></div>
    <div class="loginPanel panel">
        <form method="post" action="../MyFirst/authenticate_Login">
            <img src="/images/logo.png" id="Logo" class="rave-logo" height="100px">
            <img src="/images/name.png" class="rave-logo-text" height="20px">
            <p class="headers">Email</p>
            <input type="email" id="Email" name="email" placeholder="someone@something.com" required>
            <p class="headers">Password</p>
            <input type="password" id="Password" name="pass" required>
            <p class="headers">Account Type:</p>
            <select id="account-type" name="account" style="border-radius:25px">
                <option value="User">User</option>
                <option value="Singer">Singer</option>
                <option value="Manager">Manager</option>
            </select><br />
            <input type="submit" class="panel-btn" value="Login">
        </form>
    </div>
    

    <div class="lowerPanel">
        <div class="error">@Model</div>
        <p><a href="@Url.Action("rave_signup")" style=color:white>Don't have an account yet?<br>Sign Up</a></p>
    </div>

</body>