
#album-art-bg {
    overflow: hidden;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(0.5px);
}
.album-art-slider {
    display: flex;
    margin-left: -50%;
}

.album-art-slider img {
    width: 120px;
}